<div class="container profile-management medium-margin-top">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <h1>Edit your profile</h1>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "small-margin-bottom" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <%= f.label :password %> <i class="label-secondary-info">(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, autocomplete: "off", class: "small-margin-bottom" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %>
          <% if @minimum_password_length %>
            <i class="label-secondary-info">(<%= @minimum_password_length %> characters minimum)</i>
          <% end %>
          <br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "small-margin-bottom" %>
        </div>

        <div class="field">
          <%= f.label :current_password %> <i class="label-secondary-info">(needed to confirm your changes)</i><br />
          <%= f.password_field :current_password, autocomplete: "off", class: "small-margin-bottom" %>
        </div>

        <div class="actions">
          <%= f.submit "Update", class: "small-margin-bottom btn btn-secondary btn-sm" %>
        </div>
      <% end %>

      <h3>Cancel account</h3>
      <%= button_to "Cancel account", registration_path(resource_name), data: { confirm: "Are you sure you want to cancel your account?" }, method: :delete, class: "btn btn-secondary btn-sm" %>

      <!-- TODO -->
      <%#= link_to "Back", :back %>
    </div>
  </div>
</div>

