<div class="container tracking">
  <div class="row medium-margin-top">
    <div class="col-md-6">
      <h1>Select an activity to track</h1>
      <%= form_for @entry do |f| %>
        <div class="row">
          <div class="col-md-12">
            <%# http://api.rubyonrails.org/classes/ActionView/Helpers/FormOptionsHelper.html#method-i-select %>
            <%#= f.select(:activity_id, options_from_collection_for_select(@activities, :id, :name, @entry.activity_id), { include_blank: true }) %>
            <%= f.select(:activity_id, @activities.where(is_deleted: false).map { |a| [a.name, a.id] }, { include_blank: true }) %>
          </div>
        </div>
    </div>
    <div class="col-md-6">
      <h1>Start timing</h1>
        <div id="duration-timer">
          <span class="field timer">
            <%= f.text_field :duration_hours, class: "", id: "duration-hours" %>
            <span class="timer">:</span>
            <%= f.text_field :duration_minutes, class: "", id: "duration-minutes" %>
            <span class="timer">:</span>
            <%= f.text_field :duration_seconds, class: "", id: "duration-seconds" %>
          </span>

          <button id="start-button" type="button"><i class="far fa-play-circle"></i></button>
          <button id="stop-button" type="button"><i class="far fa-stop-circle"></i></button>
        </div>
        <div class="field">
          <%= f.label :date %><br />
          <%= f.date_field :date, class: "" %>
        </div>
        <div class="field">
          <%= f.label :note %><br />
          <%= f.text_field :note, class: "" %>
        </div>
        <%= f.submit "Add", class: "", id: "duration-timer-submission" %>
      <% end %>
    </div>
  </div>
</div>
