<div class="container tracking medium-margin-top">
  <div class="row">
    <div class="col-md-4 col-centered">
      <h1>Select an activity</h1>
      <%= form_for @entry do |f| %>

        <%# http://api.rubyonrails.org/classes/ActionView/Helpers/FormOptionsHelper.html#method-i-select %>
        <%#= f.select(:activity_id, options_from_collection_for_select(@activities, :id, :name, @entry.activity_id), { include_blank: true }) %>
        <%= f.select(:activity_id, @activities.where(is_deleted: false).map { |a| [a.name, a.id] }, { include_blank: true }, class: "small-margin-bottom") %>

        <h1>Start timing</h1>
        <div id="duration-timer">
          <span class="field timer">
            <%= f.text_field :duration_hours, id: "duration-hours", maxlength: 2 %>
            <span class="timer">:</span>
            <%= f.text_field :duration_minutes, id: "duration-minutes", maxlength: 2 %>
            <span class="timer">:</span>
            <%= f.text_field :duration_seconds, id: "duration-seconds", maxlength: 2 %>
          </span>

          <button id="start-button" type="button"><i class="far fa-play-circle"></i></button>
          <button id="stop-button" type="button"><i class="far fa-stop-circle"></i></button>
        </div>
        <div class="field">
          <%= f.label :date, "Pick a date" %><br />
          <%= f.text_field :date, class: "small-margin-bottom", data: { "provide" => "datepicker", "date-max-view-mode" => "days" }, id: "date-picker-autoclose" %>
        </div>
        <div class="field">
          <%= f.label :note, "Add a note (optional)" %><br />
          <%= f.text_area :note, class: "small-margin-bottom additional-note-field" %>
        </div>
        <%= f.submit "Add", class: "small-margin-bottom btn btn-secondary btn-sm", id: "duration-timer-submission" %>
      <% end %>
    </div>
  </div>
</div>
