<div class="container tracking">
  <div class="row medium-margin-top">
    <div class="col-md-5 col-centered text-center">
      <h1>Select an activity</h1>
      <%= form_for @entry do |f| %>
        <div class="row">
          <div class="col-md-12 small-margin-bottom">
            <%# http://api.rubyonrails.org/classes/ActionView/Helpers/FormOptionsHelper.html#method-i-select %>
            <%#= f.select(:activity_id, options_from_collection_for_select(@activities, :id, :name, @entry.activity_id), { include_blank: true }) %>
            <%= f.select(:activity_id, @activities.where(is_deleted: false).map { |a| [a.name, a.id] }, { include_blank: true }) %>
          </div>
        </div>

        <h1>Start timing</h1>
        <div id="duration-timer">
          <span class="field timer">
            <%# TODO: allow to enter only numbers %>
            <%= f.text_field :duration_hours, class: "", id: "duration-hours", maxlength: 2 %>
            <span class="timer">:</span>
            <%= f.text_field :duration_minutes, class: "", id: "duration-minutes", maxlength: 2 %>
            <span class="timer">:</span>
            <%= f.text_field :duration_seconds, class: "", id: "duration-seconds", maxlength: 2 %>
          </span>

          <button id="start-button" type="button"><i class="far fa-play-circle"></i></button>
          <button id="stop-button" type="button"><i class="far fa-stop-circle"></i></button>
        </div>
        <div class="field">
          <%= f.label :date, "Pick a date" %><br />
          <%= f.date_field :date, class: "small-margin-bottom" %>
        </div>
        <div class="field">
          <%= f.label :note, "Add a note (optional)" %><br />
          <%= f.text_area :note, class: "small-margin-bottom additional-note-field" %>
        </div>
        <%= f.submit "Add", class: "small-margin-bottom btn btn-secondary btn-sm", id: "duration-timer-submission" %>
      <% end %>
    </div>
  </div>
</div>
