<div class="container medium-margin-top">
  <div class="row">
    <div class="col-sm-4 offset-sm-4">
      <h1>Contact form</h1>
      <div class="form">

        <% if @contact.errors.any? %>
          <div class="small-margin-bottom alert alert-danger">There was an issue sending your message: <%= @contact.errors.full_messages.map(&:inspect).join('. ') %>.</div>
        <% end %>

        <%= form_for @contact do |f| %>
          <div class="field">
            <%= f.label :name %><br />
            <%= f.text_field :name, class: "small-margin-bottom" %>
          </div>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, class: "small-margin-bottom" %>
          </div>

          <div class="field">
            <%= f.label :message %><br />
            <%= f.text_area :message, size: "40x5", class: "small-margin-bottom" %>
          </div>

          <%= f.submit "Submit", class: "btn btn-secondary btn-sm" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
