<div class="container">
  <div class="row">
    <div class="col-sm-4 offset-sm-4">
      <h1>Your activities</h1>

      <% if current_user.activities.present? %>
        <ul>
          <% @activities.each do |activity| %>
            <li>
              <%= activity.name %>
              <%= link_to "Edit", edit_activity_path(activity), class: "btn btn-primary" %>
              <%= link_to "Delete", activity_path(activity), method: :delete, data: { confirm: "Are sure you want to delete this activity?" }, class: "btn btn-primary" %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p>Your list of activities is empty.</p>
      <% end %>

      <%= form_for @activity do |f| %>
        <div class="field">
          <%= f.text_field :name, class: "" %>
        </div>

        <%= f.submit "Add", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
